:root {
    --fontSombre: #3a3a3a;
    --fontClaire: #3a3a3a70;
    --grisClair : #9c9c9c;
    --fondBlanc : #ffffff80;
    --fondBlancOpaque:#f7f5f3;
}


/*html { overflow-y: scroll; overflow: hidden !important;}*/
body,
html {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    /*overflow: hidden !important ;*/
    overflow-x: hidden !important;
    font-size: 2.6vh;
    margin: 0;
}

h1,
p {
    margin: 0 0
}


body,
p,
h3,
h4 {
    font-family: 'Neuton', cursive;
    color: var(--fontSombre);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}



header h1 {
    font-weight: 900;
    font-size: 2.7rem;
}


header p {
    font-weight: 200;
}



input,
button,
a,
label,
textarea::placeholder,
textarea,
.titreLineal {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--fontSombre);
    font-size: 1rem;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

textarea::placeholder,
textarea,
#filtresRecherche input{
    font-weight: 400;
    text-transform:none;
    font-size: 1rem;
}

a.disabled {
    color: gray;
    pointer-events: none;
    cursor: default;
}

a,
input[type=button] {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0rem;
}

input[type=radio]:not(old)+label,
input[type=checkbox]:not(old)+label {
    text-transform: uppercase;
    color: var(--fontClaire);
    display: block;
}



input[type=radio]:not(old),
input[type=checkbox]:not(old) {
    display: none;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    color: var(--fontSombre);
}

input[type=text],
input[type=password],
input[type=search],
textarea {
    background-color: var(--fondBlanc);
    border: none;
    text-decoration: none;
    margin: .25rem 0;
    font-size: .8rem;
    padding: .3rem;
    /*width: 6rem;*/
}

input:disabled {
    color: var(--fontClaire);
    cursor: not-allowed;
}

input,
input:focus,
label {
    cursor: pointer;
    text-decoration: none;
    /*padding: 0 .5rem;*/
    /*text-decoration: underline;*/
}

input[type=button]:focus {
    padding: 0rem;
    /*text-decoration: underline;*/
}


textarea::placeholder {
    text-decoration: none;
}

select,
option {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border: none;
    color: var(--fontClaire);
}

/* custom select*/

 /* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: "Raleway", sans-serif;
    font-size: .7rem;
    border: none;
    color: var(--fontSombre);
  width: 30% !important;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
   background-color: var(--fondBlancOpaque);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: calc(50% - .25rem);
  right: .5rem;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
  border-color: var(--fontSombre) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--fontSombre) transparent;
  top: calc(50% - .75rem);
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: var(--fontSombre);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  padding-bottom: 0.8rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--fondBlancOpaque);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 50vh;
  overflow: scroll;
}

.select-items div.desactive{
 pointer-events: none;
 color: var(--fontClaire);
 cursor: not-allowed;

}


/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 





.tip {
    font-style: italic;
}

/* scrollbar*/
/*firefox*/
body,
html {

    scrollbar-color: var(--fontClaire) transparent;
    /*scrollbar-width: thin;*/
}

/*webkit*/
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--fontClaire);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--fontSombre);
}

/*.ramassable:hover {
    background-color: yellow;
    cursor: pointer;
}*/

.cache {
    display: none;
}

.transparent {
    opacity: 0;
}

#page {
    opacity: 0;
}

#page.chargee {
    opacity: 1;
    animation: fadein .8s ease-in-out;
}

.colonneCentrale {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.colonneCentrale #title {
    margin: 0px;
    text-transform: uppercase;
    font-weight: 900;
}

hr {
    width: 20%;
    border: none;
    border-bottom: 1px solid var(--fontSombre);
    margin: auto;
    margin-bottom: 2rem;
}

.colonneCentrale header hr {
    margin-bottom: 0px;
}


.bg-img {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../medias/images/ricepaper2.png');
    background-repeat: repeat;
    mix-blend-mode: multiply;
}

.bg-img::before,
.panneau-lateral::before,
.popup .contenu::before,
.panneau-lateral#equipement #stats-joueur::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    /*background-image: linear-gradient(to bottom right,#002f4b,#dc4225);*/
    opacity: .6;
    mix-blend-mode: multiply;
    opacity: .18;
    background: radial-gradient(#ffffff, #472e23);

}

.panneau-lateral::before,
.panneau-lateral#equipement #stats-joueur::before {

    opacity: .09;

}

#stats-joueur,
#filtresRecherche {

    background: url('../medias/images/ricepaper2.png');
    background-repeat: repeat;
    z-index: 10;
    transition: all .6s ease-in-out;
    box-shadow: 0px 0px .7rem #00000040;
    padding: 1rem;
    pointer-events: none;
}



#stats-joueur .contenu,
 #filtresRecherche .contenu{
    padding: .5rem;
    border: 2px dashed #505050;
    margin: 0;
}


#particles-js {
    filter: blur(1px);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/*grand hall*/
.colonneCentrale{
    position: relative;
}
.defs-only{
    display: none;
}
#lignes{
/*width: 50%;
  height: 50%;*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 7rem; left: 0; bottom: 0; right: 0;
  overflow: visible;
}
#lignes img{
width: auto;
height: 16rem;
}
#ingredientConteneur{
    position: absolute;
    top:9.5rem;
    left: calc(50% - 20rem);
}
#objetConteneur{
    position: absolute;
    top:15.3rem;
    left: calc(50% - 12.5rem);
}
#explorationConteneur{
    position: absolute;
    top:23.5rem;
    left: 50%;
}
#RCEConteneur{
    position: absolute;
    top:16.3rem;
    left:calc(50% + 11.5rem);
}

#chantConteneur{
    position: absolute;
    top:19.6rem;
    left:calc(50% + 6.5rem);
}
#chambreConteneur{
    position: absolute;
    top:12.8rem;
    left: calc(50% + 8rem);
}
#chambre-coffreConteneur{
    position: absolute;
    top:10.1rem;
    left:calc(50% + 6rem);
}
#questLogConteneur{
    position: absolute;
    top:5rem;
    left:50%;
}
#questLog, #vestibule{
transform: translateX(-50%);
display: block;
}


/*carte*/
#container {
    border: none !important;
    width: 75% !important;
    margin: auto;
    background-color: transparent;
    cursor: pointer !important;
}

/* exploration*/

nav#menu-exploration,
nav#menu-quitter {
    position: fixed;
    z-index: 10;
    margin-left: .5rem;
    margin-top: .5rem;
}

nav#menu-quitter {
    margin-left: 0rem;
    margin-right: .5rem;
    right: 0;
}

nav#menu-exploration a,
nav#menu-quitter input {
    text-decoration: none;
}

nav#menu-exploration img {
    display: block;
    margin: auto;
}

#bandeau-central-exploration {
    position: fixed;
    top: .5rem;
    /* or whatever top you need */
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 1200px;
    width: 50vw;
    text-align: center;
}

#bandeau-central-exploration.desactive,
#bandeau-central-exploratione.desactive {
    filter: blur(2px);
    opacity: .4;
}

#bandeau-central-exploration h2 {
    font-size: 1rem;
    font-weight: 500;
}

#bandeau-central-exploration #myProgress {
    width: 100%;
    border-top: 1px solid var(--fontClaire);
}

#bandeau-central-exploration #myBar {
    width: 100%;
    height: .5rem;
    background-color: var(--fontSombre);
    margin: auto;
    margin-top: -.25rem;
}

.piece {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top .8s ease-in-out, left .8s ease-in-out;
}

.piece .contenu-principal {
    /*width:20%;
    border: 1px solid var(--fontSombre);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;*/
}

.piece .contenu-principal hr,
#bandeau-central-exploration hr {
    margin: .5rem auto;
}

.piece input[type=button] {
    text-decoration: none;
}

.piece.arriveSud {
    animation: animationArriveSud .8s ease-in-out;
}

.piece.arriveNord {
    animation: animationArriveNord .8s ease-in-out;
}

.piece.arriveEst {
    animation: animationArriveEst .8s ease-in-out;
}

.piece.arriveOuest {
    animation: animationArriveOuest .8s ease-in-out;
}

.departCombat {
    animation: animationDepartCombat .8s ease-in-out;
}

.arriveCombat {
    animation: animationArriveCombat .8s ease-in-out;
}

.piece.departSud {
    top: -100vh;
}

.piece.departNord {
    top: 100vh;
}

.piece.departEst {
    left: -100vw;
}

.piece.departOuest {
    left: 100vw;
}

.piece .contenu-description {
    width: 20vw;
    top: 10rem;
    /*word-break: break-all;*/
    position: absolute;
    left: 2vw;
    border-right: 2px solid;
    padding-right: .5rem;
    text-align: right;
}

.piece #interrupteur{
font-weight: 500;
}

.piece #interrupteur:active~form #bouton_nord {
    background-color: red;
    color: white;
}


.piece .contenu-principal {
    margin-top: 9rem;
    text-align: center;
    max-width: 1200px;
    width: 50vw;
    overflow: auto;
    overflow-y: none;
    max-height: calc(100vh - 4rem);
    transform: translate(50%);
    transition: transform .35s ease-in-out, filter .35s ease-in-out, opacity .35s ease-in-out;
}

.piece .contenu-principal p,
.piece #contenu-cote p {
    text-align: justify;
}

.piece .contenu-principal .texte-centre {
    text-align: center;
}

.piece #contenu-cote.opaque {
    opacity: 1;
    pointer-events: auto;
}

.piece #contenu-cote.transparent {
    opacity: 0;
}

.piece #contenu-cote {
    opacity: 0;
    position: absolute;
    width: 25vw;
    top: 10rem;
    right: 10.5vw;
    text-align: center;
    pointer-events: none;
    transition: opacity .35s ease-in-out;
    border-left: 2px solid;
    padding-left: .5rem;
    transition: transform .35s ease-in-out, filter .35s ease-in-out, opacity .35s ease-in-out;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.piece #contenu-cote input[type=text],
.piece #contenu-cote textarea {
    background-color: var(--fondBlanc);
    border: none;
    text-decoration: none;
    margin: .25rem 0;
    font-size: .8rem;
    padding: .3rem;
    /*width: 6rem;*/
}

.piece #contenu-cote input[type="button"] {
    display: block;
    margin: auto;
    margin-bottom: 1rem !important;
}

.piece #contenu-cote .indice,
.piece #contenu-cote p {
    text-align: center;
}

.piece .description label {
    font-family: 'Neuton', cursive;
    cursor: auto;
    font-weight: 500;
    text-decoration: none;
}


.piece #contenu-cote-tiret {
    position: absolute;
    height: 1px;
    border-top: 2px solid #959595;
    top: 0;
    width: 3vw;
    left: -3vw;
}
.piece #contenu-cote .description input {
display: block;
margin: auto;
}

.piece .contenu-principal a.desactive {
    color: #959595;
    cursor: text;
}

.piece .contenu-principal a

/*,
.piece .description label*/
    {
    font-family: 'Neuton', cursive;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    /*color:#959595;*/
}

.piece .contenu-principal.desactive,
.piece #contenu-cote.desactive {
    transform: translate(20%);
    filter: blur(2px);
    opacity: .4;
}


.piece .contenu-principal form .desactive,
.piece .contenu-principal form .desactiveTemp,
input#exploration.desactive {
    /*opacity: .15;*/
    color: var(--fontClaire);
    cursor: not-allowed;
}

.piece .choix-combat input:disabled {
    /*opacity: .15;*/
    color: var(--fontClaire);
}

/* création ingrédient*/
.deux-colonnes {
    column-count: 2;
    text-align: justify;
    margin-bottom: 1rem;
}

#formulaireIngredient .conteneur-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: calc(75% - .5rem);
    margin: auto;
}

#formulaireIngredient .conteneur-flex .demie {
    width: 50%;
}

#formulaireIngredient #bloc-genre {
    transition: all 0.6s ease-out;
}

.bloc-cache {
    opacity: 0;
    visibility: hidden;
}

#formulaireIngredient .bloc-principal {
    margin: 1rem auto;
    transition: all 0.6s ease-out;
}

.ingredient-flex {
    display: flex;
    flex-direction: row;
}

#formulaireIngredient #regne,
#formulaireIngredient #genre {
    text-align: left;
    margin: 0 .5rem;
    margin-top: .03rem;
}

label img,
.panneau-lateral#personnage .conteneur-flex h3 img{
	 transform: translate(0px, .1rem);
	  width: .6rem; 
    height: 1rem;
    margin-right: .5rem;
}
input[type="radio"]:not(old) + label img, input[type="checkbox"]:not(old) + label img{
  opacity: .35;
}

input[type="radio"]:checked + label img, input[type="checkbox"]:checked + label img{
opacity: 1;
}

/* création objet*/
.container-recettes{
display: flex;

justify-content: space-between;
}

textarea{
    resize: none;
    width : 100%;
    font-family: 'Raleway', sans-serif;
}

#recettes .desactive {
    /*opacity: .15;*/
    color: var(--fontClaire);
    cursor: not-allowed;
}

li {
    margin-bottom: 1rem;
    list-style-type: none;
    text-align: center;
}

.en-rupture{
    color: var(--grisClair);
    font-weight: 700;
}

.en-stock{
    font-weight: 700;
}

#la_question{
    font-weight: 500;
}

.custom-select span:after
{
    background-size: .6rem 1rem;
    display: inline-block;
    width: .6rem; 
    height: 1rem;
    content:"";
    margin-left: .3rem;
    transform: translate(0px, .2rem);
}

/* vestiaire*/
.coffre form,
.vestiaire form,
form#vestiaire-chambre {
    /* min-width: 12rem;*/
    background-color: var(--fondBlanc);
    height: 15rem;
    overflow: scroll;
}

form#equipement-chambre {
    background-color: transparent;

}

.vestiaire form form {
    min-height: 1rem;
    background-color: var(--fondBlanc);
    margin-bottom: .3rem;
    height: auto;
}

.vestiaire .conteneur-flex,
.coffre .conteneur-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coffre .pictoPoubelle,
#vestiaire-chambre .pictoPoubelle
{
    margin-left: auto;
    display: none;
    width: auto;
height: 0.70rem;
transform: none;
}


.coffre label, .vestiaire label{
	display: flex !important;
	align-items: center;

}
.coffre input[type="checkbox"]:checked + label .pictoPoubelle,
#vestiaire-chambre input[type="radio"]:checked + label .pictoPoubelle
{
    display: inline;
    opacity: 1;
}

.conteneur-liste {
    min-width: 40%;
    max-width: 40%;
}

.conteneur-liste p {
    text-align: left;
}

.conteneur-liste label {
    font-size: .7rem;
    text-align: left;
    margin-left: .25rem;
    padding-top: 0.09rem;
}

.conteneur-liste #inventaire-perso {
    float: left;
}

.conteneur-liste #remplissage-sac {
    float: right;
}


.vestiaire .conteneur-flex input[type=button],
.coffre .conteneur-flex input[type=button] {
    display: block;
}

.vestiaire button.selectionnee,
.coffre button.selectionnee {
    background-color: var(--fontSombre);
}

input[type=button],
input[type=button]:focus {

    padding: 0rem .5rem;
}

.vestiaire #stats-joueur {
    margin-top: 3rem;
}


/* menus off canvas */


.panneau-lateral {
    min-height: calc(100vh);
    min-width: 50vw;
    max-width: 50vw;
    left: -55vw;
    position: absolute;
    background: url('../medias/images/ricepaper2.png');
    background-repeat: repeat;
    z-index: 11;
    transition: left .6s ease-in-out;
    box-shadow: 0px 0px .7rem #00000040;
}

.panneau-lateral#carte {
    display: flex;
    align-items: center;
}


.panneau-lateral h2 {
    margin-bottom: 0px;
}

.panneau-lateral.ouvert {
    left: 0px;
}

.panneau-lateral.ferme {
    left: -50vw;
    width: 25vw;
}

.panneau-lateral .fermeture {
    top: 50%;
    right: 0px;
    position: absolute;
    cursor: pointer;
    font-family: 'Raleway', cursive;
    text-decoration: none;
    color: var(--fontSombre);
    margin-right: 25px;
    font-size: 2rem;
    font-weight: 300;
}

.panneau-lateral #carte_lieu {
    width: 40vw;
    height: 40vw;
    border: 2px dashed #505050;
    margin: auto;
}

.panneau-lateral .colonne {
    flex-grow: 1;
    margin-left: 3rem;
}

.panneau-lateral .contenu {
    max-height: 100vh;
    overflow-y: scroll;
    margin-right: 3rem;
}

.panneau-lateral #stats-joueur {
    position: absolute;
    top: 1rem;
    left: 47vw;
    min-width: 25vw;
    max-width: 25vw;
}
.panneau-lateral #stats-joueur h2 {
margin-top: 0px;
margin-bottom: 1rem;
}

.panneau-lateral#equipement #stats-joueur.transparent {
    left: 20vw;
}

.panneau-lateral#equipement #stats-joueur .contenu {
    padding: .5rem;
    border: 2px dashed #505050;
    margin: 0;
}

.panneau-lateral#personnage .conteneur-flex{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 1rem;
}

.panneau-lateral#personnage .contenu .conteneur-liste{
    min-width: 80%;
    max-width: 80%;
}

.panneau-lateral#personnage .conteneur-flex h3{
    display: inline;
    font-size: .7rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
font-weight: 700;/*color: var(--fontClaire);*/
margin-left: .25rem;

}

.panneau-lateral#personnage .conteneur-flex input[type=button] {   
    font-size: .7rem;
    float: right;
    padding: 0px;
    margin-right: .25rem;
    padding-top: .25rem;
    
}
.panneau-lateral#personnage .conteneur-flex form {
min-height: 1rem;
background-color: var(--fondBlanc);
margin-bottom: .3rem;
height: auto;
}

.panneau-lateral#personnage .conteneur-flex form label {
color: var(--fontSombre);
}

/* creation ingredient*/
/*#formulaireIngredient textarea {
    width: calc(75% - .5rem);
}*/

#formulaireIngredient #nombreCaracteres {
   /* width: calc(75% - .5rem);*/
    text-align: right;
    margin: auto;
}

#formulaireObjet #nombreCaracteres {
   /* width: calc(75% - .5rem);*/
    text-align: right;
    margin: auto;
}

/*registre*/
#data_tableau {
    max-width: 100% !important;
}

#tableIngredients ul{
    list-style-type: none;
    }

#tableIngredients li{
   /* display: flex;*/
   text-align: left;
   margin-bottom: 1rem;
}

#tableIngredients li .nom{
    /*width:50%;*/
    font-weight: 700;
}
#tableIngredients li .regne{
    /*width:50%;*/
    font-weight: 400;
    font-style: italic;
}
#tableIngredients li .description{
    /*width:50%;*/
}

#tableIngredients li span{
    word-break: break-word;
}

#filtresRecherche {
    position: fixed;
     pointer-events: auto;
     top: 50%;
right: 1rem;
transform: translate(0%, -50%);
       max-width: 8rem;
}
#filtresRecherche button{
display: block;
margin:auto;
    }

/* lightbox popup */
#popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 20;
    text-align: center;
}

.ombre {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background: #ffffff73;
    z-index: 10;
    cursor: pointer;
}

.ombre.cachee {
    opacity: 0;
    pointer-events: none;
}

.ombre.montree {
    opacity: 1;
    pointer-events: auto;
}

#popup .contenu {

    padding: 1rem;
    border: 2px dashed #505050;
}

#popup .conteneur {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: url('../medias/images/ricepaper2.png');
    background-repeat: repeat;
    display: inline-block;
    text-align: center;
    max-width: 40vw;
    width: 90%;
    padding: 1rem;
    box-shadow: 0px 0px .7rem #00000040;
    border-radius: .25rem;
    transition: all 0.4s ease-in-out;

}

#popup.ouvert .conteneur {
    margin-top: 0rem;
    opacity: 1;
}

#popup.ferme .conteneur {
    margin-top: -10rem;
    opacity: 0;
}

#popup.ferme,
.ferme {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: -10;
    visibility: hidden;
}

#popup.ouvert,
.ouvert {
    opacity: 1;
    transition: all 0.6s ease-in-out;
    visibility: visible;
}

.span_ingredient {
    position: relative;
    display: inline-block;
}

.span_ingredient .ingredient:after
{
    background-size: .6rem 1rem;
    display: inline-block;
    width: .6rem; 
    height: 1rem;
    content:"";
    margin-left: .3rem;
    transform: translate(0px, .1rem);
}

.span_ingredient .ingredient.botanique:after,
.custom-select .botanique:after
{
    background-image: url('../medias/images/picto-botanique.png');  
}
.span_ingredient .ingredient.précieux:after,
.custom-select .précieux:after
{
    background-image: url('../medias/images/picto-précieux.png');  
}
.span_ingredient .ingredient.utile:after,
.custom-select .utile:after
{
    background-image: url('../medias/images/picto-utile.png');  
}
.span_ingredient .ingredient.égarée:after,
.custom-select .égarée:after
{
    background-image: url('../medias/images/picto-égarée.png');  
}
.span_ingredient .ingredient.onirique:after,
.custom-select .onirique:after
{
    background-image: url('../medias/images/picto-onirique.png');  
}

.span_ingredient .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*flèche tooltip*/
/*.span_ingredient .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  }*/

.span_ingredient:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* tooltip.js*/
.popper,
.tooltip {
    position: absolute;
    background: var(--fontSombre);
    color: var(--grisClair);
    min-width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    z-index: 100;
}

.tooltip-inner{
    max-width: 20vw;
}
.style5 .tooltip {
    background: var(--fontSombre);
    color: var(--grisClair);
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: var(--fontSombre);
}

.style5 .tooltip .tooltip-arrow {
    border-color: var(--fontSombre);
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

/*tooltip menu*/


nav#menu-exploration .tooltip,
nav#menu-quitter .tooltip {
    background: transparent;
    color: var(--fontSombre);
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--fontClaire);
    font-size: 1rem;
    text-transform: uppercase;
}

nav#menu-exploration .tooltip {
    text-align: left;
}

nav#menu-quitter .tooltip {
    text-align: right;
    width: 500px;
}

nav#menu-exploration .tooltip-arrow,
nav#menu-quitter .tooltip-arrow {
    border-style: none;
    border-color: transparent;
    border-color: transparent;
}


@keyframes animationArriveSud {
    0% {
        top: 100vh;
    }

    100% {
        top: 0;
    }
}

@keyframes animationArriveNord {
    0% {
        top: -100vh;
    }

    100% {
        top: 0;
    }
}

@keyframes animationArriveEst {
    0% {
        left: 100vw;
    }

    100% {
        left: 0;
    }
}

@keyframes animationArriveOuest {
    0% {
        left: -100vw;
    }

    100% {
        left: 0;
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}